* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.main {
    background-image: url(./top.png);
    color: white;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 180px 0 100px 0;
}

h1 {
    text-align: center;
}

h1 {
    padding: 20px;
    font-size: 35px;
    opacity: 0.7;
}

.description {
    padding: 20px;
    opacity: 0.7;
    text-align: center;
}

.btn {
    border-radius: 5px;
    display: inline-block;
    color: white;
    text-decoration: none;
    padding: 8px 24px;
    opacity: 0.8;
    text-align: center;
}

.signup {
    background-color: #23896F;
}

.facebook {
    background-color: #3C5998;
    margin-right: 10px;
}

.fa {
    margin-right: 10px;
    color: white;
    float: right;
    font-size: 30px;
    padding: 5px 0;
    display: none;
}

.twitter {
    background-color: #55acee;
}

.btn-area {
    text-align: center;
}

.header {
    background-color: #28343A;
    height: 65px;
    position: fixed;
    width: 100%;
    z-index: 10;
}

.header-list {
    float: right;
}

.header-list a {
    float: left;
    padding: 0 25px;
    color: white;
    text-decoration: none;
    line-height: 65px;
}

.header img {
    width: 124px;
    margin-top: 20px;
    margin-left: 15px;
}

.lesson-wrapper {
    text-align: center;
    background-color: #f7f7f7;
    padding-bottom: 80px;
}

.lesson-wrapper .hedding {
    padding-top: 80px;
    padding-bottom: 50px;
    color: #605D60;
}

.lesson {
    float: left;
    width: 25%;
}

.lesson-icon {
    position: relative;
}

.lesson-icon p {
    position: absolute;
    top: 87px;
    color: white;
    width: 100%;
}

.text-contents {
    color: #B3AEB4;
    width: 80%;
    display: inline-block;
    margin-top: 15px;
    font-size: 13px;
}

.clear {
    clear: left;
}

.message-wrapper {
    text-align: center;
    border-bottom: 1px solid #eee;
    padding-bottom: 80px;
}

.message-wrapper .hedding {
    padding-top: 80px;
    color: #989799;
    padding-bottom: 50px;
}

.message-wrapper .hedding h2 {
    font-weight: normal;
}

.message-wrapper .hedding h3 {
    font-weight: normal;
}

.message-wrapper .message {
    background-color: #5dca88;
    ;
    padding: 15px 40px;
    box-shadow: 0px 7px #1A7940;
    cursor: pointer;
}

.footer p {
    font-size: 12px;
    color: #b3aeb5;
}

.footer img {
    width: 120px;
}

.footer .container {
    padding: 30px 15px;
}

.menu-icon {
    color: white;
    float: right;
    font-size: 25px;
    padding: 21px 0;
    display: none;
}

.footer-label {
    margin-top: 10px;
}

@media(max-width: 1000px) {
    .lesson {
        width: 50%;
    }
}

@media(max-width: 680px) {
    .footer {
        text-align: center;
    }
    h1 {
        font-size: 24px;
        text-align: left;
    }
    .description {
        font-size: 14px;
        text-align: left;
    }
    .btn-area {
        padding: 0 15px;
    }
    .btn {
        width: 100%;
    }
    .twitter {
        margin-top: 10px;
    }
    .header-list {
        display: none;
    }
    .menu-icon {
        display: block;
    }
    .lesson {
        width: 100%;
    }
    .lesson-wrapper {
        padding-bottom: 0;
    }
    .text-contents {
        margin-bottom: 50px;
    }
    .message-wrapper h2 {
        font-size: 15px;
    }
    .message-wrapper h3 {
        font-size: 15px;
    }
    .message-wrapper .container {
        padding: 0 15px;
    }
}